* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*去掉无序列表的默认样式*/
ul {
	list-style: none;
}

/*未初始化时不显示页面内容,防止用户一开始时看到{{}}等代码*/
.container {
	display: none;
}

/*初始化后显示页面内容*/
.show {
	display: block;
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

/*单行不换行,超出显示...*/
.single-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*下拉框按钮在一行内展示*/
.dropdown {
	display: inline-block;
}

/*展开下拉框时,覆盖bootstrap的默认样式*/
.dropdown.open .dropdown-menu {
	display: block;
	left: auto;
	right: 0;
}

/*下拉框被选中时的背景颜色*/
.dropdown-item.selected {
	background-color: #ddd;
}

/*用户选择框,在小屏(如手机)下和搜索输入框不贴在一起*/
.user-dropdown {
	margin-bottom: 10px;
}

/*在搜索页面,用户选择框的兼容设置,使用户选择框与搜索输入框垂直对齐*/
.fix-margin .dropdown-toggle {
	margin-top: -3px;
}

.inline-block {
	display: inline-block;
}

/*标题*/
.title-wrap {
	font-size: 14px;
	color: #333333;
	padding: 5px 0;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #a1a1a1;
}

/*内容*/
.content {
	min-height: 200px;
	position: relative;
}

/*加载中和内容为空*/
.loading-wrap, .empty-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
}

/*分页按钮*/
.btn-page {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	background-color: #686868;
	color: #ffffff;
	font-size: 13px;
	text-align: center;
	width: 80px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
	transition: 300ms all;
}

.btn-page:hover {
	background-color: #555;
}

.btn-page:active {
	background-color: #333;
}

.btn-page.prev {
	left: 0;
}

.btn-page.next {
	right: 0;
	margin-right: 10px;
}

/*列表*/
.list-wrap {
	position: relative;
	margin-top: 10px;
	overflow: hidden;
}

/*列表不换行,用于水平展示电影,且切换页面时有动画过渡*/
.list-content {
	white-space: nowrap;
	transition: 300ms all ease-in-out;
}

/*一页电影*/
.list {
	width: 100%;
	display: inline-block;
}

/*单个电影*/
.list li {
	width: 50%;
	float: left;
	padding-right: 10px;
	font-size: 12px;
	color: #333333;
	line-height: 20px;
	margin-top: 5px;
}

/*电影标题*/
.title {
	margin-top: 10px;
}

/*电影图片容器,高宽比为1.47*/
.img-wrap {
	position: relative;
	padding-top: 147%;
}

/*电影图片*/
.list .img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}